@using Flags.Models
@using Models
@model QuestionViewModel


@using (Html.BeginForm())
{

    <h1>Please choose flag for @Model.QuestionText</h1>

    <div class="row">
        @foreach (Flag flag in Model.FlagChoices)
        {
        <div class="col-md-4">
            <img class="flagImg" src="~/Images/Flags/@(flag.ImageFile).png" />
        </div>

        }
    </div>

}

@ObjectInfo.Print(Model)