@using Flags.Models
@using Models
@model QuestionViewModel
@{ Layout = null; }

<div class="panel-group">
    <div class="panel panel-default">
        <div class="panel-heading panel-heading-white clearfix">
            <div class="row">
                <div class="col-md-12">
                    Click on the flag for: @Model.QuestionText
                </div>
                
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-3"></div>
    @foreach (FlagViewModel flag in Model.FlagChoices)
    {
        <div class="col-md-2">
            <img id="@(flag.ID)" class="flagImg" src="~/Images/FlagsGuid/@(flag.ID).png" />
        </div>

    }
    <div class="col-md-3"></div>
</div>

<script>
    @foreach (FlagViewModel flag in Model.FlagChoices)
    {

        @:$('#@flag.ID').click(function () {

            @:$.ajax({
            @:url: "/Flags/SubmitAnswer?questionID=@Model.ID&userAnswer=@flag.ID", success: function(result){
            @:  alert(result);
            @:  $('#question').load('/Flags/Question')
            @:},
            @:error: function () {
            @:  alert("error");
            @:}
            @:});
        
        @:});

    }

</script>

