@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Error";
}

@{ Exception ex = @Model.Exception; }

@{List<string> exceptionDetail = new List<string>(); }

@{
    while (ex != null)
    {
        exceptionDetail.Add(ex.Message);
        ex = ex.InnerException;
    }
}

<h1 class="text-danger">Error.</h1>
<h2 class="text-danger">An error occurred while processing your request.</h2>

<h2 class="text-danger">Controller: @Model.ControllerName</h2>

<h2 class="text-danger">Action: @Model.ActionName</h2>

<h2 class="text-danger">Exception details:</h2>

@foreach (string detail in exceptionDetail)
{
    <h2 class="text-danger">@detail</h2>
}




