@{
    ViewBag.Title = "Home Page";
}
<div class="container">
    <button type="button" onclick="location.href='/CountryFlags'">CountryFlags list</button>
    <div class="panel-group">
        <div class="panel panel-default">


            <div id="collapse2" class="panel-collapse collapse in">
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-4" id="flagDisplay1">
                        </div>
                        <div class="col-md-4" id="flagDisplay2">
                        </div>
                        <div class="col-md-4" id="flagDisplay3">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

