@{
    ViewBag.Title = "Home Page";
}
<div class="container">
    <div class="panel-group">
        <div class="panel panel-default">


            <div id="collapse2" class="panel-collapse collapse">
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-12">
                            <span id="flagDisplay">
                                <img src="Images/Algeria.jpg" />
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<button type="button" id="clickMe">
    ClickMe
</button>

<script>

    $('#collapse2').on('hidden.bs.collapse', function () {
        $('#flagDisplay').html('<img src="Images/albania.jpg" />');
        $('#collapse2').collapse('show');
    });
   
    $('#clickMe').click(() => {
        if ($('#collapse2').attr('aria-expanded') == 'true') {

            $('#collapse2').collapse('hide');

        } else {
            $('#collapse2').collapse('show');
        }
    })
</script>